body {
  background-color: #cce6ff;
}

.avatar {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  margin-right: 20px;
  border-radius: 50%
}

.header {
  margin-bottom: 50px;
  margin-top: 30px;
}

.panel-body {
  display: flex;
  align-items: center;
}

.login-container {
  margin-top: 350px;
}

.alert {
  margin-top: 30px;
}

.create-bonus {
  margin-bottom: 15px;
}

.submit-button {
  margin-bottom: 20px;
}

.create-bonus-form-container {
  text-align: center;
}
